ARCH.md
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
data/*.db
data/*.db-wal
data/*.db-shm
data/tunnel.pid
*.log
bin/ngrok
bin/ngrok.exe
.DS_Store
static/generated/*
!static/generated/.gitkeep
static/fonts/*.zip
static/fonts/*/
Discord-ignore in git.md
static/Screenshot*.png
